<footer>
    <div>
        <div class="footer-container">
            <h3 class="footer-title">Title</h3>
            <p class="footer-p">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vel perferendis exercitationem dolores autem inventore, deleniti nam eveniet cumque quos earum ea ex, ipsa ad illum reprehenderit veritatis natus debitis!Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vel perferendis exercitationem dolores autem inventore, deleniti nam eveniet cumque quos earum ea ex, ipsa ad illum reprehenderit veritatis natus debitis!Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vel perferendis exercitationem dolores autem inventore, deleniti nam eveniet cumque quos earum ea ex, ipsa ad illum reprehenderit veritatis natus debitis!Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam vel perferendis exercitationem dolores autem inventore, deleniti nam eveniet cumque quos earum ea ex, ipsa ad illum reprehenderit veritatis.
            </p>
        </div>
    </div>
    <div class="footer-bottom-message">
        <span>Todos los derechos reservados</span>
    </div>
</footer>

<script src="/javaScript/navBar.js"></script>