<footer>
    <div>
        <div class="footer-container">
            <h3 class="footer-title">Info</h3>
            <p class="footer-p">
                El proposito de este sitio web es difundir conocimientos respecto al desarrollo de software. En este caso desarrollo front-end con javaScript.
            </p>
        </div>
    </div>
    <div class="footer-bottom-message">
        <span>Todos los derechos reservados</span>
    </div>
</footer>

<script src="/javaScript/navBar.js"></script>