<!-- Navegation bar in html -->

<header class="navegation-header">
  <nav class="navegation-nav">
    <a href="/" class="navegation-a">
      <h2 class="navegation-nav-title navegation-nav-button">Node.js Website</h2>
    </a>
    <ul class="navegation-list">
      <li>
        <a class="navegation-nav-button" href="/">Index</a>
      </li>
      <li>
        <a class="navegation-nav-button" href="/about">About</a>
      </li>
      <li>
        <a class="navegation-nav-button" href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>